*{
    margin: 0;
    padding: 0;
}


/*ヒーロー画像*/
.hero{
    position: relative;
    background-color: #c6b9b0;
}

.hero img{
    width: 100%;
}

.hero p {
    position: absolute;
    color: #fcf5f2;
    top: 50%;
    left: 50%;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    font-family: ヒラギノ明朝 ProN;
    font-size: 3vw;
}



/*豆知識*/

#beans{
    margin: auto;
    padding: 100px 0px;
    background-color: #c6b9b0;
    
}

h1{
    font-family: ヒラギノ明朝 ProN;
    color: #331804;
    margin-bottom: 100px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 3vw;
}



/*豆のdiv*/
.beans{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bean{
    width: 30vw;
    position:relative;  
    text-align: center;
    margin: 50px 0px;
}

.bean img{
    width:50%;
}

.index{
    position:absolute;
    text-align: center;
    width: 90%;
    color: #fcf5f2;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    font-family: ヒラギノ角ゴStd W8;
    font-weight: bold;
    font-size: 2vw;
}



/*セクションタイトル*/
#number{
    background-color: #fcf5f2;
}

.title{
    display: block;
    padding: 100px 0px;
    margin-left: 10vw;
}


num{
    font-family: ヒラギノ角ゴStd W8;
    font-weight: bold;
    font-size: 4vw;
    color: #261441;
}

p{
    font-family: ヒラギノ明朝 ProN;
    font-size: 2.3vw;
    color: #261441;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*ドリンクのdiv*/
.drink{
    width: 25%;
    text-align: center;
    margin: 4vh 4vw;
}

.drink img{
    width: 60%;
    padding: 5vh 0;
}


.name{
    font-family: ヒラギノ明朝 ProN;
    font-weight: bold;
    font-size: 1.8vw;
    color:#261441;
    margin-bottom: 5px;
}

.eng{
    font-family: クレー;
    font-size: 1.3vw;
    color:#261441;
}

.detail{
    text-align: left;
    color:#261441;
    font-size: 1.5vw;
}


.espdrip{
    height: 30vw;
    margin-right: 8vw;
}

.text{
    text-align: center;
    font-family: クレー;
    font-size: 1.5vw;
    color:#261441;
    line-height: 3em;
}


.art-box{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #331804;
    border-radius: 2vw;
    margin: 10vh auto 0;
    padding: 3vw;
}

.art-box img{
    width: 25vw;
}

.art-name{
    font-family: クレー;
    color:#261441;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vw;
}

.latte-art{
    width: 40vw;
    margin-left: 5vw;
}

.art-detail{
    text-align: left;
    color:#261441;
    font-size: 1.8vw;
}

