*{
    margin: 0;
    padding: 0;
}


/*ヒーロー画像*/
.hero{
    position: relative;
    background-color: #c6b9b0;
}

.hero img{
    width: 100%;
}

.hero p {
    position: absolute;
    color: #fcf5f2;
    top: 50%;
    left: 50%;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    font-family: ヒラギノ明朝 ProN;
    font-size: 3vw;
}



/*豆知識*/

#beans{
    margin: auto;
    /*background-color: #c6b9b0;*/
    position: relative;
    margin-top: 0;
    position: relative;
    background-color: #fcf5f2;
}

.beans-back{
    width: 100%;
}

.beans{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.beans-title{
    font-family: ヒラギノ明朝 ProN;
    color: #331804;
    margin-bottom: 8vw;
    text-align: center;
    letter-spacing: 1vw;
    font-size: 1.8vw;
}



/*豆のdiv*/

.bean{
    width: 20vw;
    position:relative;  
    text-align: center;
    margin: 5vh 0;
}

.bean img{
    width:10vw;
}

.bean-text{
    position:absolute;
    text-align: center;
    width: 90%;
    color: #fcf5f2;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    font-family: ヒラギノ角ゴStd W8;
    font-weight: bold;
    font-size: 1vw;
}



/*セクションタイトル*/
#number{
    background-color: #fcf5f2;
}

.title{
    display: block;
    padding: 10vw 0 5vw 20vw;
}


.title p num{
    font-family: ヒラギノ角ゴStd W8;
    font-weight: bold;
    font-size: 3vw;
    color: #261441;
}

.title p{
    font-family: ヒラギノ明朝 ProN;
    font-size: 1.8vw;
    color: #261441;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.drink{
    width: 20vw;
    text-align: center;
    margin: 4vh 4vw;
}

.drink img{
    width: 70%;
    padding: 5vh 0;
}


.name{
    font-family: ヒラギノ明朝 ProN;
    font-weight: bold;
    font-size: 1.5vw;
    color:#261441;
    margin-bottom: 5px;
}

.eng{
    font-family: クレー;
    font-size: 1vw;
    color:#261441;
}

.detail{
    font-family: クレー;
    font-size: 1.2vw;
    text-align: left;
    color:#261441;
}


.espdrip-img{
    height: 25vw;
    margin-right: 8vw;
}

.text{
    text-align: center;
    font-family: クレー;
    font-size: 1.2vw;
    color:#261441;
    line-height: 3em;
}


.machine-img{
    width:  15vw;
    display: block;
    margin: 5vw auto;
}

.step{
    width: 20vw;
    text-align: center;
    margin-top: 10vh;
    padding: 0 5vw;
    border-right: #331804 1px solid;
}

.step3{
    width: 20vw;
    text-align: center;
    margin-top: 10vh;
    padding: 0 5vw;
}


.step-number{
    font-family: ヒラギノ角ゴStd W8;
    font-weight: bold;
    font-size: 1vw;
    color: #fcf5f2;

    text-align: center;
    display: inline-block;
    
    height: 5vw;
    width: 5vw;
    line-height: 5vw;
    background: #331804;
    border-radius: 50%;
    margin-bottom: 2vh;
}

.step img{
    height: 10vw;
    margin: 5vh 0;
}

.step3 img{
    height: 10vw;
    margin: 5vh 0;
}





.art-box{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #331804;
    border-radius: 1vw;
    margin: 10vh auto 0;
    padding: 3vw;
}

.art-box img{
    width: 15vw;
}

.art-name{
    font-family: クレー;
    color:#261441;
    font-size: 1.8vw;
    text-align: center;
    margin-bottom: 2vw;
}

.art-text-right{
    width: 30vw;
    margin-left: 8vw;
}

.art-text-left{
    width: 30vw;
    margin-right: 8vw;
}


.latte{
    width: 40vw;
    text-align: center;
    margin: 0 auto 5vh ;
}

.latte img{
    width: 35%;
    padding: 5vh 0;
}

.latte-detail{
    font-family: クレー;
    font-size: 1.2vw;
    text-align: center;
    color:#261441;
}


footer{
    position: relative;
}

footer img{
    width: 100%;
    padding-top: 10vw;
    background-color: #fcf5f2;
}

footer p{
    color: #fcf5f2;
    position: absolute;
    bottom: 2%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-family: クレー;
    font-size: 1.2vw;
    
}